# Database configuratio

# Supported: mysql | mariadb | postgres | mssql / Default Value: mysql 
DB_DIALECT=
# Default Value: localhost
DB_HOST= 
# Default Value: zmodule_api
DB_NAME= 
# Default Value: 3306
DB_PORT= 
# Default Value: root
DB_USER= 
# Default Value: 
DB_PASSWORD= 